/* styles.css */
body {
    background-image:url('./background.jpg');
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-color:#ccc;
}

.table1 {
    color: rgba(255, 255, 255, 70%);
}

.table2 td {
    padding: 15px;
}

.table3 td {
    vertical-align: top;
}

.responsive {
    max-width: 100%;
    height: auto;
}

